<div class="alert alert-primary">
    <div class="row">
        <div class="col-md-4">
            <h1>Mantenimiento de Clientes</h1>
        </div>
         <div class="col-md-2">
           <button id="btnAgregarCliente" class="btn btn-success">
               Agregar
           </button>
        </div>
    </div>
</div>

<div id="divListadoCliente" class="divListadoCliente">
    
</div>

<script>

    
    

</script>
